fastapi
uvicorn
python-multipart
PyMuPDF
psycopg2-binary
python-dotenv
sqlmodel
pydantic-settings
python-docx
openai
tiktoken
pgvector
langchain
langchain-openai
langchain_community
sentence-transformers
aiohttp
beautifulsoup4
lxml
numpy
alembic